#controlToggler, #exportToPngBtn, #fractalTypesBtn {
    position: absolute;
    visibility: hidden;
}

#controlsForm, #fractalTypes {
    display: none;
    width: 100%;
}

.controls-form-dialog .modal-dialog {
    width: 250px;
}

.fractal-types-dialog .modal-dialog {
    width: 300px;
}

#fractalTypes .row {
	text-align: center;
}
